/* --------------------------
 *
 * Styles for LGPI -plugin
 *
** ----------------------- */

/* --------------------------
 *
 * Cart
 *
** ----------------------- */

	.lgpi_cart_html_container 										{
		& 															{ pointer-events:none; z-index: 1100; position: relative; }
		& * 														{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

		.lgpi_cart_html_overlay 									{ z-index: 1400; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(19,25,23,.6); transition: .2s opacity ease-in-out; opacity: 0; }
		.lgpi_cart_html_abs_container 								{ z-index: 1600; box-shadow: 0 0 10px #00000055; width: 580px; max-width: 100%; height:100%; position: fixed; right:0; top:0; background-color: #fff; padding: 0; transition: .2s transform ease-in-out; -webkit-transform: translate3d(0, 0, 0); transform : translate3d(0, 0, 0); -ms-transform: translateX(100%); -webkit-transform: translateX(100%); transform: translateX(100%); }
		.lgpi-notices-wrapper  										{  }

		.lgpi-cart_contents											{ padding: 0; overflow: auto; max-height: 85%; width: 100%; }
		.lgpi-cart-empty											{ display: block; background-color: #eee; margin: 1em auto; padding: 1em; font-weight: 700; }

		.lgpi_cart_html_inner_container								{ position: relative; width: 100%; height: 100%; padding: 1.5em 1.5em 135px 1.5em; word-break: break-word; overflow: hidden; }
		.lgpi_cart_html_inner_container.processing:before 			{ position: fixed; width: 100%; height: 100%; background-color: rgba(255,255,255,.7); content: ''; left:0; top:0; z-index: 30; }

		/* cart footer */
		.lgpi-cart_footer											{ position: absolute; z-index: 5; bottom:0; left:0; right:0; padding: 1em 1.5em 1em 1.5em; border-top: 1px solid #eee; }
		.lgpi-cart_footer a.lgpi_proceed_to_checkout 				{ float:right; max-width: 50%; }
		.lgpi-cart_footer .lgpi-cart_summary 						{ float:left; max-width: 50%; }
		.lgpi_cart_html_inner_container.lgpi-cart_empty .lgpi-cart_footer { display:none; }

		/* cart summary */
		.lgpi-cart_summary .lgpi-cart-summary-items					{ padding: 0; }
		.lgpi-cart-summary-item	.lgpi-cart-summary-item-name		{ display: inline-block; font-weight: 700; margin-right: .2em; }
		.lgpi-cart-summary-item	.lgpi-cart-summary-item-option-name	{ display: inline-block; font-weight: 700; margin-right: .2em; }

		.lgpi-cart-summary-total-price .lgpi-cart-summary-item-name { display: block; }
		.lgpi-cart-summary-total-price .lgpi-cart-summary-item-value{ display: block; font-size: 1.5em; font-weight: 700; }

		/* cart items */
		.lgpi-cart-items-count  									{ display: block; margin-bottom: 1em; }
		.lgpi-cart-item  											{ display: block; background-color: #eee; margin-bottom: 1em; padding: 1em; position: relative; }
		.lgpi-cart-item > span 										{ display: inline-block; margin-right: .2em; }
		.lgpi-cart-item .lgpi-cart-item-name 						{ display: block; font-size: 1.2em; font-weight: 700; margin-bottom: .2em; }
		.lgpi-cart-item .lgpi-cart-item-properties 					{ display: block; margin-bottom: .2em; }
		.lgpi-cart-item .lgpi-cart-item-property 					{ display: block; }
		.lgpi-cart-item .lgpi-cart-item-property-name 				{ display: inline-block; margin-right: .2em; }
		.lgpi-cart-item .lgpi-cart-item-property-name:after 		{ display: inline-block; content:':'; }
		.lgpi-cart-item .lgpi-cart-item-options 					{ display: block; margin-bottom: .2em; }
		.lgpi-cart-item .lgpi-cart-item-option-name 				{ display: inline-block; margin-right: .2em; font-weight: 700; }
		.lgpi-cart-item .lgpi-cart-item-price 						{ display: inline-block; font-size: 1.2em; font-weight: 700; }
		.lgpi-cart-item .lgpi-cart-item-price .lgpi-cart-item-price-prefix	{ display: inline-block; margin: 0 .5em 0 0; font-size: .7em; font-weight: 400; }
		.lgpi-cart-item .lgpi-cart-item-price .lgpi-cart-item-price-suffix	{ display: inline-block; margin: 0 0 0 .5em; font-size: .7em; font-weight: 400; }
		.lgpi-cart-item .lgpi_cart_item_remove_button				{ position: absolute; right:0; top: 0; z-index: 1; margin:0; }

		.lgpi-cart-item.processing:before 							{ position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,.7); content: ''; left:0; top:0; z-index: 30; }

		button.lgpi_close_shopping_cart_button 						{ position: absolute; z-index: 70; top: 47px; left: -22px; bottom:auto; margin:0; border:0; padding: .5em; font-size: 1em; }
		button.lgpi_update_cart_button 								{ display: none; /* hide this by default.. should only be needed for debugging */ } 

		/* When cart is visible! */
		&.lgpi_cart_visible	.lgpi_cart_html_inner_container			{ pointer-events: all; }
		&.lgpi_cart_visible .lgpi_cart_html_overlay 				{ pointer-events: all; opacity: 1; }
		&.lgpi_cart_visible .lgpi_cart_html_abs_container 			{ pointer-events: all; -ms-transform: translateX(0%); -webkit-transform: translateX(0%); transform: translateX(0%); }
		/*&.lgpi_cart_visible .lgpi_cart_html_abs_container 			{ display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; align-items: center; }*/
	}


	.lgpi_fadeout 													{ opacity: 0; pointer-events: none; }

	.lgpi-notices-wrapper 											{ transition: 2s opacity ease-in-out; }
	.lgpi-notices-wrapper .lgpi-message 							{ padding: 1em 1em; color: #000; font-weight: 700; margin: 0 auto 1em 0; border-left: solid 5px grey; background-color: #eee; }
	.lgpi-notices-wrapper .lgpi-message.lgpi-warning-message 		{ border-left: solid 5px yellow; background-color: #eee; }
	.lgpi-notices-wrapper .lgpi-message.lgpi-error-message 			{ border-left: solid 5px red; background-color: #ffebeb; }
	.lgpi-notices-wrapper .lgpi-message.lgpi-success-message 		{ border-left: solid 5px green; background-color: #eaffed; }

	.lgpi_add_to_cart {
		& 															{position: relative; }
		&.processing > .lgpi_loader_container 						{ background-color: #ffffffaa; }
	 	&.lgpi_loading .lgpi_add_to_cart_button_status				{ background-color: yellow; border-radius: 100%; margin-left: .5em; display: none; width: .8em; height: .8em; }
	 	&.lgpi_done .lgpi_add_to_cart_button_status					{ background-color: green; border-radius: 100%; margin-left: .5em; display: inline-block; width: .8em; height: .8em; }
	 	&.lgpi_failed .lgpi_add_to_cart_button_status				{ background-color: red; border-radius: 100%; margin-left: .5em; display: inline-block; width: .8em; height: .8em; }
	}

	/* toggle cart button */
	button.lgpi_cart_toggle_button 								{ position: relative; } 
	button.lgpi_cart_toggle_button .lgpi_cart_button_amount_container { font-size: .9em; position: absolute; right: -.8em; top: -.6em; } 
	button.lgpi_cart_toggle_button .lgpi_cart_button_amount_container span { width: 1em; height: 1em; border-radius: 1em; text-align: center; line-height: 1em; display: inline-block; } 

	.lgpi_cart_toggle_button.lgpi_item_added .lgpi_cart_button_amount_container { animation: lgpi_attention 0.7s ease .1s; }

	/* lgpi_attention */
	@keyframes lgpi_attention {
	    0% {-webkit-transform: scale(1);
	        transform: scale(1);}
	   20% { -webkit-transform: scale(1) translateY(-.2rem)}
	   40% { -webkit-transform: scale(1) translateY(0rem)}
	   50% { -webkit-transform: scale(1) translateY(-.2rem)}
	   60% { -webkit-transform: scale(1) translateY(0rem)}
	   70% { -webkit-transform: scale(1);
	         transform: scale(1);}
	}

	/* login / logout button */
	.lgpi_user_details_container {
		& 															{ position: relative; }
		&.processing > a 											{ visibility: hidden; }
		.lgpi_login_username 										{ display: inline-block; margin-right: .5em; }
		.lgpi_dropdown_content 										{ position: absolute; z-index: 2; right:0; top: 100%; width:auto; text-align: left; background: #ffffff; padding: 1em; }
		.lgpi_dropdown_content .lgpi_user_dropdown_item  			{ padding: .5em; }
		.lgpi_dropdown_content .lgpi_user_dropdown_item a 			{ padding: 0; }
		.lgpi_user_dropdown_item.lgpi_dropdown_separator 			{ border-bottom: 1px solid #eee; padding-bottom:0; margin-bottom: .5em; }
	}

	.lgpi_price_inner_container {
		&:not(.campaign_active) .lgpi_price_regular					{ text-decoration: none; font-weight: 700; }
		&.campaign_active .lgpi_price_campaign						{ font-weight: 700; }
		&.campaign_active .lgpi_price_regular						{ font-weight: 400; text-decoration: line-through; }

		&:not(.lgpi_status_vat_included) .lgpi_price_excluding_vat	{ display: inline-block; }
		&:not(.lgpi_status_vat_included) .lgpi_price_including_vat	{ display: none; }

		&.lgpi_status_vat_included .lgpi_price_excluding_vat		{ display: none; }
		&.lgpi_status_vat_included .lgpi_price_including_vat		{ display: inline-block; }
	}

	.lgpi_vat_toggle_inner_container {
		.lgpi_vat_toggle_button_container { 					 & 	{ border-radius: 3em; padding: .4em; background-color: #656565; display:inline-block; border: 0; }
			button.toggle_vat_status 								{ border-radius: 3em; padding: .5em; line-height: 1em; background-color: transparent; color: #fff; border: 0; margin: 0; }
			button.toggle_vat_status.lgpi_vat_included				{  }
			button.toggle_vat_status.lgpi_vat_excluded				{  }
		}

		&:not(.lgpi_status_vat_included) .lgpi_vat_toggle_button_container {
			button.toggle_vat_status 								{}
			button.toggle_vat_status.lgpi_vat_included				{}
			button.toggle_vat_status.lgpi_vat_excluded				{ background-color: #fff; color: #000; }
		}

		&.lgpi_status_vat_included .lgpi_vat_toggle_button_container {
			button.toggle_vat_status 								{}
			button.toggle_vat_status.lgpi_vat_included				{ background-color: #fff; color: #000; }
			button.toggle_vat_status.lgpi_vat_excluded				{}
		}
	}

/* --------------------------
*
* LOADER CSS
*
** ----------------------- */

	.lgpi_loader { display: none; }
	/* only show when processing */
	.processing {
		& > .lgpi_loader_container 									{ position: absolute; width: 100%; height: 100%; z-index: 45; left:0; top:0; }
		& > .lgpi_loader_container .lgpi_loader 					{ display: inline-block; position: absolute; right:50%; margin-right: -40px; top:50%; margin-top: -40px; width: 80px; height: 80px; }
		& > .lgpi_loader_container .lgpi_loader span  				{ display: inline-block; position: absolute; top: 33px; width: 13px; height: 13px; border-radius: 50%; opacity: .5; background: #000; animation-timing-function: cubic-bezier(0, 1, 1, 0); }
		& > .lgpi_loader_container .lgpi_loader span:nth-child(1) 	{ display: inline-block; left: 8px; animation: lgpi_loader_1 0.6s infinite; }
		& > .lgpi_loader_container .lgpi_loader span:nth-child(2) 	{ display: inline-block; left: 8px; animation: lgpi_loader_2 0.6s infinite; } 
		& > .lgpi_loader_container .lgpi_loader span:nth-child(3) 	{ display: inline-block; left: 32px; animation: lgpi_loader_2 0.6s infinite; }
		& > .lgpi_loader_container .lgpi_loader span:nth-child(4) 	{ display: inline-block; left: 56px; animation: lgpi_loader_3 0.6s infinite; }
	}
	@keyframes lgpi_loader_1 {
	  0% 															{ transform: scale(0); }
	  100% 															{ transform: scale(1); }
	}
	@keyframes lgpi_loader_3 {
	  0% 															{ transform: scale(1); }
	  100% 															{ transform: scale(0); }
	}
	@keyframes lgpi_loader_2 {
	  0% 															{ transform: translate(0, 0); }
	  100% 															{ transform: translate(24px, 0); }
	}
